<ion-header>
  <ion-toolbar>
    <ion-title>Beitrag verfassen</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-item>
      <ion-input
        placeholder="Titel"
        required
        type="text"
        [(ngModel)]="title"
        name="title"
      >
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-textarea
        placeholder="Beitrag..."
        rows="14"
        cols="80"
        required
        type="text"
        [(ngModel)]="body"
        name="body"
      >
      </ion-textarea>
    </ion-item>
  </ion-card>

  <ion-button class="ion-padding" expand="block" shape="round" (click)="test()"
    >Posten</ion-button
  >

  <ion-card style="margin: 50px">
    <div style="text-align: center">
      <ion-chip
        (click)="lookForTag('liebe')"
        outline
        color="danger"
        id="love-chip"
      >
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Liebe</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-chip>

      <ion-chip
        (click)="lookForTag('freizeit')"
        outline
        color="success"
        id="frei-chip"
      >
        <ion-icon name="wine"></ion-icon>
        <ion-label>Freizeit</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-chip>

      <ion-chip
        (click)="lookForTag('business')"
        outline
        color="dark"
        id="busi-chip"
      >
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Business</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-chip>

      <ion-chip
        (click)="lookForTag('random')"
        outline
        color="warning"
        id="rand-chip"
      >
        <ion-icon name="shuffle-outline"></ion-icon>
        <ion-label>Random</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-chip>

      <ion-chip
        (click)="lookForTag('sonstiges')"
        outline
        color="queen-pink"
        id="sont-chip"
      >
        <ion-icon name="flame-outline"></ion-icon>
        <ion-label>Sonstige</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-chip>
    </div>
  </ion-card>
  <ion-grid>
    <ion-row class="forecast_container">
      <ion-col col-6 *ngFor="let photo of photos">
        <img [src]="photo.data" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
</ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
