<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Abbrechen</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)"
        >Zurücksetzen</ion-button
      >
    </ion-buttons>

    <ion-title> Filter </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Fertig</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Optionen</ion-list-header>

    <ion-item>
      <ion-icon name="heart-outline" color="danger" slot="start"></ion-icon>
      <br />
      <ion-label>Liebe</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="wine" color="success" slot="start"></ion-icon>
      <br />
      <ion-label>Freizeit</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="business-outline" color="dark" slot="start"></ion-icon>
      <br />
      <ion-label>Business</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="shuffle" color="warning" slot="start"></ion-icon>
      <br />
      <ion-label>Random</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="flame-outline" color="queen-pink" slot="start"></ion-icon>
      <br />
      <ion-label>Sonstige</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deselect All</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Select All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
