<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="startApp()">Weiter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe src="../../../assets/vid/mavael_intro_1920x1080.mp4" frameborder="0" width="100%" height="100%"></iframe> -->
  <iframe alt="Bitte warten..." src="https://firebasestorage.googleapis.com/v0/b/mavael-faf6d.appspot.com/o/mavael_intro_1920x1080.mp4?alt=media&token=4788811b-bdf2-412c-bc46-0919241a6d41" allow='autoplay' frameborder="0" width="100%" height="100%"></iframe>
  
</ion-content>
